body {
  font-family: Verdana;
  font-size: 1.5em; }

#team-members {
  clear: both; }

#team-members .member {
  float: left;
  margin: 10px;
  padding: 6px;
  position: relative;
  width: 250px;
  height: 250px; }
  #team-members .member img {
    width: 200px;
    height: 200px;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    -moz-transition: opacity 1s;
    top: 0px;
    left: 0px;
    position: absolute;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888; }
  #team-members .member img.original {
    opacity: 0; }
  #team-members .member img.alternate {
    opacity: 1; }
  #team-members .member:hover img.original {
    opacity: 1;
    -webkit-transform: rotate(45deg); }
  #team-members .member:hover img.alternate {
    opacity: 0;
    -webkit-transform: rotate(45deg); }
  #team-members .member div.name {
    text-align: center;
    line-height: 50px;
    bottom: 5px;
    position: absolute; }
